*{
  padding: 0;
  margin: 0;
}

.App {
  font-family: sans-serif;
}

.heading{
  text-align: center;
  background-color: rebeccapurple;
  color:white;
  height: 12vh;
}

.components{
  display: inline-flex;
  position: relative;
}

.form{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  text-align: center;
  width: 50vw;
  /* background-color: aquamarine; */
}

.innerForm{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.details{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 50vw;
}
